:root {
  --black: rgba(0, 0, 0, 1.0);
  --white: rgba(255, 255, 255, 1.0);
  --gray: rgba(128, 128, 128, 1.0);

  --color-text: var(--gray);
  --color-bg: var(--gray);
  --color-table: var(--black);

  --font-size: 24px;
  --font: "Helvetica", san-serif;
  --text-align: left;
  --text-case: lowercase;
  --para-align: justify;
  --para-indent: 3em;

  --margin-body: 1px;
  --margin-table: 1px;
  --padding: 0.5em;
  --radius-table: 0.5em;
  --radius-img: 0.25em;
  --border: 1px solid var(--color-bg);

  --grid: 1em 8fr 1fr 3fr 3fr 3fr;
  --grid-12: repeat(12, 1fr);
  --gutter: 0.25em;
  --gutter-sm: 0.25em;

  --icon: 1em;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-size: var(--font-size);
  font-family: var(--font);
  text-transform: var(--text-case);
  margin: var(--margin-body);
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

p {
  text-align: var(--para-align);
}

p+p {
  text-indent: var(--para-indent);
}

img {
  width: 100%;
  display: block;
  border-radius: var(--radius-img);
}

img+img {
  margin-top: var(--gutter);
}

table {
  width: 100%;
  background: var(--color-table);
  color: var(--color-1);
  margin-bottom: var(--margin-table);
  border-radius: var(--radius-table);
}

thead {
  border-bottom: var(--border);
  color: var(--color-text);
}

.grid {
  display: grid;
  grid-gap: var(--gutter);
  grid-template-columns: var(--grid);
  text-align: var(--text-align);
  padding: var(--padding);
  border-radius: inherit;
}

.grid+.grid {
  border-top: var(--border);
}

.desc {
  grid-column: 4 / 7;
}

.grid-12 {
  display: grid;
  grid-gap: var(--gutter);
  grid-template-columns: var(--grid-12);
  padding: var(--padding);
}

.col-1 {
  grid-column: span 1;
}

.col-2 {
  grid-column: span 2;
}

.col-3 {
  grid-column: span 3;
}

.col-4 {
  grid-column: span 4;
}

.col-6 {
  grid-column: span 6;
}

.col-12 {
  grid-column: span 12;
}

.material-icons {
  font-size: var(--icon) !important;
  display: inline-flex;
  vertical-align: baseline;
}

@media screen and (max-width: 1200px) {
  .grid {
    display: block;
  }

  .material-icons {
    font-size: var(--icon) !important;
    display: inline-flex;
    vertical-align: bottom;
  }


  td, th {
    display: inline;
  }

  .head::after {
    content: ",";
  }

  .head:last-of-type::after {
    content: ".";
  }

  .is-hidden-mobile {
    display: none !important;
  }
}
