:root {
  --black: rgba(0, 0, 0, 1.0);
  --white: rgba(255, 255, 255, 1.0);
  --gray: rgba(128, 128, 128, 1.0);
  --gray-2: rgba(128, 128, 128, 0.5);
  --color-bg: var(--gray);
  --color-table: var(--black);
  --color-text: var(--gray);
  --color-line: var(--gray-2);
  --color-link: var(--gray);
  --color-link-2: var(--gray);
  --font-size: 14px;
  --font: "Helvetica", san-serif;
  --text-align: left;
  --text-case: lowercase;
  --leading: var(--font-size);
  --para-align: justify;
  --para-indent: 3em;
  --margin-body: 1px;
  --margin-table: var(--margin-body);
  --padding: 0.666em;
  --radius-table: var(--padding);
  --radius-img: 0.25em;
  --border: 1px dotted var(--color-line);
  --grid: 4fr 4fr 1fr 3fr 3fr 3fr;
  --grid-tr: 1em 1fr;
  --grid-12: repeat(12, 1fr);
  --gutter: var(--padding);
  --gutter-sm: 0.125em;
  --transition: 0.2s;
  --icon: 1em;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-size: var(--font-size);
  font-family: var(--font);
  line-height: var(--leading);
  text-transform: var(--text-case);
  margin: var(--margin-body);
  letter-spacing: -0.015em;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

p {
  text-align: var(--para-align);
}

p+p {
  text-indent: var(--para-indent);
}

.text-light {
  opacity: 0.6;
}

a:link, a:visited {
  color: var(--color-link);
}

a:hover, a:active {
  color: var(--color-link-2);
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: var(--radius-img);
}

img+img {
  margin-top: var(--gutter-sm);
}

table {
  width: 100%;
  background: var(--color-table);
  color: var(--color-1);
  margin-bottom: var(--margin-table);
  border-radius: var(--radius-table);
}

thead {
  color: var(--color-text);
}

table tr {
  display: grid;
  grid-gap: var(--gutter);
  grid-template-columns: var(--grid-tr);
  padding: var(--padding);
  border-bottom: var(--border);
}

table tr:last-of-type {
  border-bottom: none;
}

.grid {
  display: grid;
  grid-gap: var(--gutter);
  grid-template-columns: var(--grid);
  text-align: var(--text-align);
}

.grid-top {
  display: grid;
  grid-gap: var(--gutter);
  grid-template-columns: var(--grid-top);
  text-align: var(--text-align);
}

.desc {
  grid-column: 4 / 7;
}

.grid-12 {
  display: grid;
  grid-gap: var(--gutter-sm);
  grid-template-columns: var(--grid-12);
  padding: var(--gutter-sm);
}

.col-1 {
  grid-column: span 1;
}

.col-2 {
  grid-column: span 2;
}

.col-3 {
  grid-column: span 3;
}

.col-4 {
  grid-column: span 4;
}

.col-6 {
  grid-column: span 6;
}

.col-12 {
  grid-column: span 12;
}

.icon {
  vertical-align: top;
  width: var(--icon);
  height: auto;
}

.icon img {
  border-radius: 0;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 16px;
    line-height: 16px;
  }

  .grid, .grid-12 {
    display: block;
  }

  .grid div, .grid-12 div {
    display: inline;
  }

  .head::after {
    content: ",";
  }

  .head:last-of-type::after {
    content: ".";
  }

  .is-hidden-mobile {
    display: none !important;
  }
}
